body {
  background-color: black;
}

#dancefloorContainer {
  margin: auto;
  width: 697px;
  position: relative;
}

#gifSelectPanel {
  background: none;
}

.overlays {
  position: absolute;
  pointer-events: none;
  height: 150px;
}

.selectableGif {
  height: 150px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  margin: 0;
}
