body {
  background-color: black;
}

#danceFloorImg {
  display: block;
  position: relative;
  margin: auto;
}

.overlays {
  position: absolute;
  pointer-events: none;
  height: 150px;
}

.selectableGif {
  height: 150px;
  background-color: transparent;
}
